body {
  background-color: hsl(225, 17%, 45%);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.output {
  background-color: hsl(223, 31%, 20%);
  border-radius: 0.4rem;
  font-size: 2rem;
  padding-inline: 30rem;
}

.input {
  background-color: hsl(223, 31%, 20%);
  border-radius: 0.4rem;
}

.numbers-symbols-btn {
  background-color: hsl(30, 25%, 89%);
  border: none;
  border-radius: 0.4rem;
  font-size: 2rem;
  padding-inline: 2rem;
  padding-block: 0.5rem;
}

.del-reset-btn {
  text-transform: uppercase;
  border: none;
  border-radius: 0.4rem;
  font-size: 2rem;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  background-color: hsl(225, 35%, 60%);
}

.calc-btn {
  border: none;
  border-radius: 0.4rem;
  font-size: 2rem;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  background-color: hsl(6, 63%, 50%);
}
